@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');

html {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
}

.navbar {
    transition: background-color .2s linear;
    /*background-color: #008E9E;*/
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #efefef;
}

.navbar-expand-md .navbar-collapse {
    text-align: center;
    margin-top: .5rem;
    padding: .5rem 0 1rem 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, .3);
}

.navbar-collapse .nav-item:hover {
    background-color: rgba(0, 0, 0, .2);
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
    }

    .navbar-collapse .nav-item:hover {
        background: none;
    }
}

.progress-component:hover {
    background-color: rgb(68, 68, 68);
}

.progress-component {
    padding: .5rem 0;
    border-radius: 5px;
    cursor: default;
}

.progress {
    background-color: #008E9E;
    height: 1.5rem;
}

.progress-bar {
    background-color: #3EABB8;
}

.card {
    background: none;
    border: none;
    cursor: pointer;
}

.card:hover {
    background-color: #343434;
}

/* scrollbar styling */

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    background-color: #ccc;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #34A2AE;
  outline: 1px solid #008E9E;
}